<html xmlns:th="http://www.thymeleaf.org">

<body>
<div  th:replace="~{include/top}"></div>
<section>
<br>
<div align="center"  > <h2> 회원가입하기 (교재 261)  </h2> </div>
<div align="center"  > 

 <form action="/board/insert">
 
 <table border=1>
 <tr> <td>이름 </td>  <td> <input  type=text name=name> </td> </tr>
 <tr> <td>나이 </td>  <td> <input  type=text name=age> </td> </tr>
 <tr> <td>특이사항 </td>  <td> <textarea name="etc" cols=30  rows=4  ></textarea> </td> </tr>
 <tr>
  <td colspan=2  align="center" > 
    <input  type="submit" value="저장하기" >
  </td>   
 </tr>
  
 </table>
 
 </form>



</div>
<br>
</section>

<div  th:replace="~{include/bottom::footer}"></div>
</body>
</html>