<html xmlns:th="http://www.thymeleaf.org">

<body>
<div  th:replace="~{include/top}"></div>
<section>
<br>
<div align="center"  > 
1. 페이지 사이즈 : [[${pageSize}]] &emsp; 2. 페이지 list 사이즈 [[${pageListSize}]] &emsp;
3.전체레코드 수 [[${totalCount}]] &emsp;  4. 총페이지 수 [[${totalPage}]]  <br>

5. 현재레코드 : [[${start}]] &emsp; 6. 현재 페이지 [[${currentPage}]] &emsp;
7.하단 가로 시작 [[${listStartPage}]]  &emsp; 8. 하단 가로 끝 [[${listEndPage}]] 9. 마지막페이지 [[${lastPage}]] <br>
 </div>
<div align="center"  > <h2> 방명록 목록보기 </h2> </div>
<div align="center"  > 


<table border=1  width=700 >
<tr  align="center"> 
  <td> rownum </td> <td> rnum </td> <td>이름 </td><td> 나이 </td>
  <td> 메모 </td><td> 날짜(String형) </td>
</tr>

<tr th:each="m, mStat: ${li} "  align="center"    >
  <td th:text="${m.rownum}" />
  <td th:text="${m.rnum}" />
  <td th:text="${m.name}" />
  <td th:text="${m.age}" />
  <td th:text="${m.memo}" />
  <td th:text="${m.regdate}" />
</tr>
</table>

<form action="/guestBook/list" >
<input  type=hidden  name=ch21 value='%'>
<select name=ch1 >
  <option value="name" > name </option>
  <option value="memo" > memo </option>
</select>
<input  type=text  name=ch2>
<input  type=submit  value="검색하기">
</form>


<a th:href="@{/guestBook/list(start=1,ch1=${ch1}, ch2=${ch2})}"  th:text="처음페이지" ></a> &emsp;

<th:block th:if="${listStartPage > pageListSize}" 
          th:with="start=${(listStartPage - pageListSize - 1) * pageSize + 1}">

  <a th:href="@{/guestBook/list(start=${start},ch1=${ch1}, ch2=${ch2})}"  th:text="이전10페이지" ></a> &emsp;
  
</th:block>

<th:block th:if="${listStartPage <= pageListSize}" > 이전10페이지 </th:block>  &emsp;

<th:block  th:each="i : ${#numbers.sequence(listStartPage, listEndPage )}">
   <th:block th:with="start=${(i-1) * pageSize + 1}" >
     <th:block th:if="${ i <= totalPage}" > 
       <a th:href="@{/guestBook/list(start=${start}, ch1=${ch1} ,ch2=${ch2})}"  th:text="[+${i}+]"> </a> &nbsp;
     </th:block>
   </th:block>
</th:block>

<th:block th:if="${listEndPage < totalPage}" 
          th:with="start=${listEndPage * pageSize + 1}">

  <a th:href="@{/guestBook/list(start=${start},ch1=${ch1}, ch2=${ch2})}"  th:text="다음10페이지" ></a> &emsp;
  
</th:block>

<th:block th:if="${listEndPage >= totalPage}" > 다음10페이지 </th:block>  &emsp;

<th:block th:with="endPage=${lastPage}" > 
   <a th:href="@{/guestBook/list(start=${endPage},ch1=${ch1}, ch2=${ch2})}"  th:text="마지막페이지" ></a> &emsp;
</th:block>  &emsp;

</div>
<br>
</section>

<div  th:replace="~{include/bottom::footer}"></div>
</body>
</html>