<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마주스토리</title>
<link  href="/css/top.css"  rel="stylesheet" type="text/css" />
<style type="text/css">

</style>
</head>
<body>
<header> 마주스토리 골프 회원관리 프로그램  </header>
<nav> &emsp;&emsp;

<a href="/board/getBoardList"> 목록보기(au) </a> &emsp;&emsp;
<a href="/Port/PortOneStart"> 결제하기(A,M) </a> &emsp;&emsp;
<a href="/exam/getExamList"> 성적목록보기 (A)</a> &emsp;&emsp;

<a href="/board/form"> 저장하기 </a> &emsp;&emsp;
<a href="/PortOneT/start"> 결제하기Test </a> &emsp;&emsp;
<a href="/login/loginForm"> 로그인 </a> &emsp;&emsp;

<a href="/guestBook/list"> 방명록보기 </a> &emsp;&emsp;
<a href="/guestBook/insert"> 방명록등록(125) </a> &emsp;&emsp;

&emsp;<a href="/index">홈으로</a> 
</nav>