<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.example.guestbook.GuestBookDao">
 
 <select id="list"   parameterType="com.example.guestbook.GuestBookVO"
                     resultType="com.example.guestbook.GuestBookVO" >
   
  select rownum  , K.* 
  from
    (  select rownum as rnum , P.* 
       from
          (select * from guestbook 
              where 1=1
              <if test="ch1=='name'">
                   and name like  #{ch2} 
              </if>
              <if test="ch1=='memo'">
               and memo like like  #{ch2} 
              </if>
                        
              order  by idx ) P
      <![CDATA[
       where ROWNUM <= #{start} + #{pageSize} -1      
     ) K 
 where rnum >=#{start}
 ]]>
 
 </select>	 
 
 
  <select id="totalCount"   
              parameterType="com.example.guestbook.GuestBookVO"
              resultType="int" >
   
     select count(*) from  guestbook
     where 1=1
     <if test="ch1=='name'">
          and name like '%' || #{ch2} || '%'
     </if>
     <if test="ch1=='memo'">
      and memo like like '%' || #{ch2} || '%'
     </if>
 
 </select>	 
 

<insert id="insert" parameterType="com.example.guestbook.GuestBookVO">
  
  insert  into guestbook(idx, name, memo,age) values(guestidx.nextval,#{name}, #{memo},#{age})

</insert>
 
 </mapper>