@charset "UTF-8";
 header{
  	background:#0000ff;  /* 배경색깔 */
  	height:90px; 		 /* 영역의 높이 */
  	line-height:90px;	 /* 라인 높이 */
  	color:#ffffff; 		 /* 글자색깔 (빨, 녹, 파) */
  	font-size:30px;		 /* 글자크기 */
  	text-align:center;   /* 글자 가운데 정렬 */
  }
  nav{
	background:#0088ff;  /* 배경색깔 */
  	height:40px; 		 /* 영역의 높이 */
  	line-height:40px;	 /* 라인 높이 */
  	color:#ffffff; 		 /* 글자색깔 (빨, 녹, 파) */
  	font-size:16px;		 /* 글자크기 */
  	text-align:left;   /* 글자 가운데 정렬 */
  }
	
  section{
	background:#eaeaea;  /* 배경색깔 */
  	min-height:450px; 		 /* 영역의 높이 */
  	line-height:40px;	 /* 라인 높이 */
  	font-size:14px;		 /* 글자크기 */
  }
	
  footer{
	background:#0000ff;  /* 배경색깔 */
  	height:40px; 		 /* 영역의 높이 */
  	line-height:40px;	 /* 라인 높이 */
  	color:#ffffff; 		 /* 글자색깔 (빨, 녹, 파) */
  	font-size:16px;		 /* 글자크기 */
  	text-align:center;   /* 글자 가운데 정렬 */
  }