<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.BoardDao">
<select id="getBoardList"   parameterType="com.example.board.BoardVO"
                            resultType="com.example.board.BoardVO" >
 select  idx,name, age, etc, regdate  , regdate as regdate2 
 from  board0722 where  1=1
 <if test="ch1=='name' ">
   and  name like #{ch2}
 </if>
 <if test="ch1=='age' ">
   and  age like #{ch2}
 </if>
 
</select>

<select id="getBoard"   parameterType="com.example.board.BoardVO"
                          resultType="com.example.board.BoardVO" >
  select   idx,name, age, etc, regdate  , regdate as regdate2 
  from  board0722 where idx= #{idx}
</select>



<select id="totalCount"   parameterType="com.example.board.BoardVO"
                          resultType="int" >
  select  count(*)  from  board0722
</select>


<insert id="insert" parameterType="com.example.board.BoardVO">
 insert  into board0722 (idx,name, age, etc ) 
 values(idx.nextval, #{name}, #{age}, #{etc}) 

</insert>

<update id="update" parameterType="com.example.board.BoardVO">

 update  board0722 set name=#{name}, age=#{age}, etc=#{etc} where idx=#{idx} 

</update>


</mapper>